<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="beanWithDefaultConstructor" class="cn.lihongjie.beans.BeanWithDefaultConstructor">

    </bean>
    <bean id="beanWithDefaultConstructorFactory" class="cn.lihongjie.beans.BeanWithDefaultConstructorFactory">

    </bean>

    <bean id="beanWithDefaultConstructorFromFactory" factory-bean="beanWithDefaultConstructorFactory"
          factory-method="get">

    </bean>
    <bean id="beanWithDefaultConstructorFromStaticFactory" class="cn.lihongjie.beans.BeanWithDefaultConstructor"
          factory-method="get">

    </bean>
    <alias name="beanWithDefaultConstructor" alias="beanWithDefaultConstructor2"/>


    <!--依赖注入开始-->

    <bean id="dependencyImpl" class="cn.lihongjie.beans.DependencyImpl">

    </bean>

    <bean id="dependencyImpl2" class="cn.lihongjie.beans.DependencyImpl2">

    </bean>
    <bean id="beanWithDependency" class="cn.lihongjie.beans.BeanWithDependency">
        <constructor-arg index="0" ref="dependencyImpl"/>
        <constructor-arg index="1" ref="dependencyImpl2"/>
    </bean>
    <bean id="beanWithDependency2" class="cn.lihongjie.beans.BeanWithDependency">

        <property name="dependency1" ref="dependencyImpl"/>
        <property name="dependency2" ref="dependencyImpl2"/>
    </bean>

    <bean id="globalDependency" class="cn.lihongjie.beans.GlobalDependency">

    </bean>
    <bean id="beanWithDependencyDependOnGlobalDependency" class="cn.lihongjie.beans.BeanWithDependency"
          depends-on="globalDependency">

        <property name="dependency1" ref="dependencyImpl"/>
        <property name="dependency2" ref="dependencyImpl2"/>
    </bean>

    <!--依赖注入结束-->



    <!--单例开始-->
    <bean id="globalDependencyNonSingleton" class="cn.lihongjie.beans.GlobalDependency" scope="prototype">

    </bean>



    <!--生命周期开始-->
    <bean id="beanWithLifeCycle" class="cn.lihongjie.beans.BeanWithLifeCycle" init-method="init" destroy-method="destroy">

    </bean>

    <bean id="beanWithSpringLifeCycle" class="cn.lihongjie.beans.BeanWithSpringLifeCycle" >

    </bean>
</beans>